# 1 WAP AREA OF RECTANGELE

In [1]:
# wap area of rectangle

l = int(input("length in cm"))

b = int(input("breadth in cm"))

a = l*b

print("your area rectangle is: ",a,"cm^2")

length in cm 4
breadth in cm 8

your area rectangle is:  32 cm^2

# 2 WAP AREA OF CIRCLE

In [2]:
r = int(input("enter your radius"))

a = 3.14*(r*r)

print("your area is:",a)

enter your radius 56

your area is: 9847.04

# 3 WAP AREA OF CUBOID

In [3]:
l = int(input("enter length"))

b = int(input("enter breadth"))

h = int(input("enter height"))

a = 2*(l*b+b*h+h*l)

print("the area is:",a)

enter length 56
enter breadth 55
enter height 45

the area is: 16150

# 4 WAP AREA OF CUBE

In [4]:
a = int(input("enter length of cube"))

x = 6*(a*a)

print("the area of cube is:",x)

enter length of cube 45

the area of cube is: 12150

# 5 WAP AREA OF CSA OF CYLINDER

In [5]:
r = int(input("enter radius"))

h = int(input("enter height"))

a = 2*(3.14*(r*h))

print("your c.s.a is:",a)

enter radius 45
enter height 35

your c.s.a is: 9891.0

# 6 WAP AREA OF TSA OF CYLINDER

In [6]:
r = int(input("enter radius"))

h = int(input("enter height"))

a = 2*3.14*r*(r+h)

print("area os:",a)

enter radius 34
enter height 34

area os: 14519.36

# 7 WAP AREA OF TSA OF  RIGHT  CIRCULAR CONE

In [7]:
r = int(input("enter radius"))

l = int(input("enter lenght"))

a = 3.14*r*l

print("csa is:",a)

enter radius 3
enter lenght 34

csa is: 320.28

# 8 WAP AREA OF TSA OF RIGHT CIRCULAR CONE

In [8]:
r = int(input("enter radius"))

l = int(input("ente slant height5"))

a = 3.14*r*(l+r)

print("the tsa is:",a)

enter radius 35
ente slant height5 665

the tsa is: 76930.0

# 9 WAP TSA OF SPHERE

In [9]:
r = int(input("enter radius"))

a = 4*(3.14*(r*r))

print("tsa of sphere is:",a)

enter radius 76

tsa of sphere is: 72546.56

# 10 WAP VOLUME OF CUBOID

In [10]:
l = int(input("enter lenght"))

b = int(input("enter breadth"))

h = int(input("enter height"))

a = l*b*h

print("volume of cuboid is:",a)

enter lenght 5
enter breadth 5
enter height 4

volume of cuboid is: 100

# 11 WAP VOLUME OF CUBE

In [11]:
l = int(input("enter lenght"))

a = l*l*l

print("volume of cube is:",a)

enter lenght 4

volume of cube is: 64

# 12 WAP VOLUME OF CYLINDER

In [12]:
r = int(input("enter radius"))

h = int(input("enter height"))

v = 3.14*(r*r)*h

print("volume is:",v)

enter radius 4
enter height 75

volume is: 3768.0

# 13 WAP VOLUME OF CONE

In [13]:
 r = int(input("enter radius"))

h = int(input("enter height"))

v = 1/3*(3.14*(r*r)*h)

print("volumeis:",v)

enter radius 76
enter height 5

volumeis: 30227.73333333333

# 14 WAP VOLUME OF SPHERE

In [14]:
r = int(input("enter radius"))

v = 4/3*(3.14*(r*r*r))

print("volume is:",v)

enter radius 5

volume is: 523.3333333333333

# 15 WAP PERIMETER OF RECTANGLE

In [15]:
l = int(input("enter lenght in cm"))

b = int(input("enter breadth in cm"))

a = 2*(l+b)

print("perimenter of rectanlge is:",a,"cm")

enter lenght in cm 5
enter breadth in cm 54

perimenter of rectanlge is: 118 cm

# 16 WAP AREA OF SQUARE

In [16]:
A = int(input("enter lenght in cm"))

x = A*A

print("your area of square is:",x,"cm^2")

enter lenght in cm 4

your area of square is: 16 cm^2

# 17 WAP AREA OF TRIANGLE

In [17]:
h = int(input("enter height"))

b = int(input("enter base"))

a = 1/2*(b*h)

print("your area is:",a,"cm^2")

enter height 4
enter base 6

your area is: 12.0 cm^2

# 18 WAP GREATEST NO. IN THREE NO.

In [18]:
a = int(input("enter first number"))

b = int(input("enter second number"))

c = int(input("enter third number"))

if a>b:
    if a>c:
        print("the greatest no is:",a)
    else:
        print("the greatest no is:",c)
else:
    if b>c:
        print("the greatest no is:",b)
    else:
        print("the greatest no is:",c)

enter first number 7
enter second number 7
enter third number 7

the greatest no is: 7

# 19 WAP PERIMETER OF TRIANGLE

In [19]:
a = int(input("enter first side of tringle "))

b = int(input("enter second sede of tringle "))

c = int(input("enter third side of tringle "))

perimeter=a+b+c

print("the perimeter is:",perimeter)

enter first side of tringle  7
enter second sede of tringle  6
enter third side of tringle  5

the perimeter is: 18

# 20 WAP GREATEST NO. FOUR NO.

In [23]:
a = float(input("enter first number "))

b = float(input("enter second number "))

c = float(input("enter third number"))

d = float(input("enter fourth number"))

if (a>b and a>c and a>d):
    print("greaterst number is:",a)
elif (b>c and b>d):
    print("greatest number is:",b)
elif (c>d):
    print("greatest number is:",c)
elif (d>c):
    print("greatest number is:",d)
else:
    print("Either any two values or all the four values are equal")

enter first number  4
enter second number  4
enter third number 4
enter fourth number 4

Either any two values or all the four values are equal

# 21 WAP TO CHECK DIVISION IN RESULT

In [24]:
a = eval(input("enter marks out of 300 "))

b = a/300*100

print("percentage is ",b,"%")

if (a>300):

    print("you entered a wrong  marks ")

elif b>60:

    print("your division is first ")

elif (b>50 and b<53):

    print("your division is second ")

elif (b>33 and b<50):

    print("your division is third ")

else:

    print("fail")

enter marks out of 300  251

percentage is  83.66666666666667 %
your division is first

# 22 WAP TO CHEAK AGE CRITERIA

In [27]:
y = int(input("enter your age "))

if (y>0 and y<12):

    print("kid")

elif (y>=12 and y<19):

    print("teenager")

elif (y>19 and y<30):

    print("young")

elif (y>30 and y<45):

    print("mature")

elif (y>45 and y<60):

    print("experienced")

elif (y>60 and y<75):

    print("old")

elif(y>75):

    print("senior citizen")

enter your age  22

young

# 23 WAP SUM OF Nth NO.

In [28]:
n = int(input("enter limit "))

s = 0

for c in range(1,n):

    s = c+s

print("the sum is",s)

enter limit  5

the sum is 10

# 24 WAP TO CHEAK THE VALUE OF FACTORIAL

In [1]:
a = int(input("enter a number "))

factorial = 1

if a<0:

    print("sory,factorial does not exist for negative number ")

elif a==0:

    print("the factorial of 0 is 1")

else:

    for i in range (1,a+1):

        factorial = factorial*1

print("the factorial of",a,"is",factorial)

enter a number  10

the factorial of 10 is 1

# 25 WAP TO PRINT MULTIPLICATION TABLE

In [2]:
a = int(input("show the multiplication table of? "))

for i in range (1,11):

    print(a,"x",i,"=",a*i)

show the multiplication table of?  18

18 x 1 = 18
18 x 2 = 36
18 x 3 = 54
18 x 4 = 72
18 x 5 = 90
18 x 6 = 108
18 x 7 = 126
18 x 8 = 144
18 x 9 = 162
18 x 10 = 180

# 26 WAP TO PRINT OPPOSITE RIGHT ANGLE TRIANGLE

In [20]:
num = int(input("enter the number rows "))

for i in range(num,0,-1):

    for j in range(0,i):

        print("*" ,end="")

print()

enter the number rows  4

**********

# 27 WAP TO PRINT 1,22,333,444

In [25]:
n = int(input("enter the no of rows:"))

for i in range(1,n+1):

    for j in range (1,i+1):

        print(i,end="")

print()

enter the no of rows: 5

122333444455555

# 28 WAP TO PRINT STAR PATTERN OF OPPOSITE TRIANGLE

In [4]:
num = int(input("enter the number rows"))

for i in range(0,num):

    for j in range(0,num-i):

        print(" ",end="")

for k in range(0,i+1):

    print("*",end="")

print("")

enter the number rows 5

               *****

# 29 WAP TO PRINT PATTERN 1,12,123

In [6]:
n=int(input("enter the no of rows:"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end="")
        print()

enter the no of rows: 5

1
1
2
1
2
3
1
2
3
4
1
2
3
4
5

# 30 WAP TO PRINT FIBONACCI SERIES USE WHILE LOOP

In [ ]:
a=eval(input("enter the range"))
i=0
first_value=0
second_value=1
while(i<a):
    if(i<1):
        Next =i
else:
    Next = first_value + second_value
    first_value = second_value
    second_value = Next
print(Next)
i=i+1

enter the range 5

# 31 WAP TO PRINT FIBONACCI SERIES USE FOR LOOP

In [4]:
a=int(input("enter the range"))
first_value=0
second_value=1
for num in range(0,num):
    if(a<=1):
        NEXT=a
    else:
        NEXT=first_value+second_value
        first_value=second_value
        second_value=a
    print(a)

enter the range 5

5
5
5
5
5

# 32 WAP TO PRINT PATTERN A,AB,ABC

In [5]:
ch=str(input("enter a character "))
a=ord(ch)
for x in range(65,a+1):
    for c in range(65,x+1):
        print(chr(c),end="")
    print("")

enter a character  E

A
AB
ABC
ABCD
ABCDE

# 33 WAP TO CALCULATION OF Xn BY FOR LOOP

In [6]:
x=int(input("enter no "))
b=int(input("enter power "))
y=x
for a in range(0,b-1):
    y=x*y
    print(y)

enter no  5
enter power  2

25

# 34 WAP TO CALCULATION OF Xn

In [7]:
a=int(input("enter number "))
b=int(input("enter power"))
c=a**b
print(c)

enter number  2
enter power 2

4

# 35 WAP TO PRINT THE INTEGER IS PALINDROME OR NOT PALINDROME

In [8]:
n=int(input("enter number "))
x=n
r=0
while n>0:
    d=n%10
    r=r*10+d
    n=n//10
if x==r:
    print("the number is palindrome")
else:
    print("the numner is not palindrome")

enter number  121

the number is palindrome

# 36 WAP TO PRINT FACTORIAL OF LIST

In [9]:
a=[]
fact=[]
ch="y"
while ch=="y" or ch=="y":
    item=int(input("enter the element of list "))
    a.append(item)
    ch=input("do you want to enter more element :")
    print("the list is:",a)
    for i in a:
        f=1
        for j in range (1,i+1):
            f=f*j
            fact.append(f)
        print("the factorial of each element is:",fact)

enter the element of list  5
do you want to enter more element : y

the list is: [5]
the factorial of each element is: [1, 2, 6, 24, 120]

enter the element of list  6
do you want to enter more element : y

the list is: [5, 6]
the factorial of each element is: [1, 2, 6, 24, 120, 1, 2, 6, 24, 120]
the factorial of each element is: [1, 2, 6, 24, 120, 1, 2, 6, 24, 120, 1, 2, 6, 24, 120, 720]

enter the element of list  62
do you want to enter more element : n

the list is: [5, 6, 62]
the factorial of each element is: [1, 2, 6, 24, 120, 1, 2, 6, 24, 120, 1, 2, 6, 24, 120, 720, 1, 2, 6, 24, 120]
the factorial of each element is: [1, 2, 6, 24, 120, 1, 2, 6, 24, 120, 1, 2, 6, 24, 120, 720, 1, 2, 6, 24, 120, 1, 2, 6, 24, 120, 720]
the factorial of each element is: [1, 2, 6, 24, 120, 1, 2, 6, 24, 120, 1, 2, 6, 24, 120, 720, 1, 2, 6, 24, 120, 1, 2, 6, 24, 120, 720, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800, 39916800, 479001600, 6227020800, 87178291200, 1307674368000, 20922789888000, 355687428096000, 6402373705728000, 121645100408832000, 2432902008176640000, 51090942171709440000, 1124000727777607680000, 25852016738884976640000, 620448401733239439360000, 15511210043330985984000000, 403291461126605635584000000, 10888869450418352160768000000, 304888344611713860501504000000, 8841761993739701954543616000000, 265252859812191058636308480000000, 8222838654177922817725562880000000, 263130836933693530167218012160000000, 8683317618811886495518194401280000000, 295232799039604140847618609643520000000, 10333147966386144929666651337523200000000, 371993326789901217467999448150835200000000, 13763753091226345046315979581580902400000000, 523022617466601111760007224100074291200000000, 20397882081197443358640281739902897356800000000, 815915283247897734345611269596115894272000000000, 33452526613163807108170062053440751665152000000000, 1405006117752879898543142606244511569936384000000000, 60415263063373835637355132068513997507264512000000000, 2658271574788448768043625811014615890319638528000000000, 119622220865480194561963161495657715064383733760000000000, 5502622159812088949850305428800254892961651752960000000000, 258623241511168180642964355153611979969197632389120000000000, 12413915592536072670862289047373375038521486354677760000000000, 608281864034267560872252163321295376887552831379210240000000000, 30414093201713378043612608166064768844377641568960512000000000000, 1551118753287382280224243016469303211063259720016986112000000000000, 80658175170943878571660636856403766975289505440883277824000000000000, 4274883284060025564298013753389399649690343788366813724672000000000000, 230843697339241380472092742683027581083278564571807941132288000000000000, 12696403353658275925965100847566516959580321051449436762275840000000000000, 710998587804863451854045647463724949736497978881168458687447040000000000000, 40526919504877216755680601905432322134980384796226602145184481280000000000000, 2350561331282878571829474910515074683828862318181142924420699914240000000000000, 138683118545689835737939019720389406345902876772687432540821294940160000000000000, 8320987112741390144276341183223364380754172606361245952449277696409600000000000000, 507580213877224798800856812176625227226004528988036003099405939480985600000000000000, 31469973260387937525653122354950764088012280797258232192163168247821107200000000000000]

# 37 WAP TO PRINT PASCAL TRIANGLE

In [15]:
a=int(input("enter rows "))
for i in range(0,a):
    for j in range(0,a-i-1):
        print(end=" ")
    for j in range(0,i+1):
        print("*",end=" ")
        print()

enter rows  5

    *
   *
*
  *
*
*
 *
*
*
*
*
*
*
*
*

# 38 WAP TO CREATE A LIST OF VALUES INPUTTED BY USER

In [16]:
a=eval(input("ene limit"))
n=[]
for a in range(1,a+1):
    a=eval(input("enter element "))
    n.append(a)
print(n)

ene limit 4
enter element  34
enter element  35
enter element  36
enter element  37

[34, 35, 36, 37]

# 39 WAP TO CREATE A LIST OF VALUES INPUTTED BY USER AND SORT IN INCREASING ORDER

In [1]:
a=eval(input("enter limit"))
b=[]
for a in range(1,a+1):
    a=eval(input("enter element "))
    b.append(a)
print(b)
print(b)
for i in range(1):
    for j in range(0,1-i-1):
        if b[j]>b[j+1]:
            temp=b[j]
            b[j]=b[j+1]
            b[j+1]=temp
print("after sorting the list is ")
print(b)

enter limit 4
enter element  6
enter element  7
enter element  8
enter element  9

[6, 7, 8, 9]
[6, 7, 8, 9]
after sorting the list is
[6, 7, 8, 9]

# 40 WAP IN PYTHON TO CREATE A PHONE DICTIONARY

In [1]:
n= int(input("enter limit "))

m={}

mob=0

name=""

i=0

for i in range(0,n):
    mob=int(input("enter mobile number "))
    name=str(input("enter name "))
    z2=dict({mob:name})
    m.update(z2)
print(m)
n=int(input("enter tne no to search in dictionary "))
print("the name of person",m[n])

enter limit  2
enter mobile number  8307989110
enter name  JYOTI SINGH
enter mobile number  8397071339
enter name  MANOJ DIXIT

{8307989110: 'JYOTI SINGH', 8397071339: 'MANOJ DIXIT'}

enter tne no to search in dictionary  8307989110

the name of person JYOTI SINGH

# 41 WAP TO FIND GIVEN NUMBER IS PRIME OR NOT

In [3]:
num=int(input("enter number "))

lim=int(num/2)+1

for i in range(2,lim):

    rem=num%i
    if rem==0:
        print(num,"is not prime number ")
        break

else:

    print(num,"is prime number ")

enter number  5

5 is prime number

# 42 WAP TO FIND GIVEN NUMBER IS EVEN OR ODD

In [4]:
a=int(input("ente number "))

r=a%2

if r==0:

    print(a,"is even number ")

elif r>0:

    print(a,"is odd number ")

else:

    print("you enter a number 0 or less than 0")

ente number  6

6 is even number

# 43 WAP TO CREATE A TUPLE OF VALUES INPUTED BY USER

In [14]:
a=()
b=[]
c=int(input("enter limit "))
for i in range(0,n):
    d=int(input("enter element "))
    b.append(d)
a=a+tuple(b)
print("tule is",a)

enter limit  6
enter element  8
enter element  8
enter element  0
enter element  0
enter element  6
enter element  4
enter element  4
enter element  4
enter element  4
enter element

ValueError: invalid literal for int() with base 10: ''

# 44 WAP TO REVERSE AN INTEGER

In [17]:
n=int(input("enter the integer "))
x=n
r=0
while n>0:
    d=n%10
    r=r*10+d
    n=n//10
print("the reversed integer is:",r)

enter the integer  8307989110

the reversed integer is: 119897038